@model IEnumerable<Jedznaplus.Models.BestRatedRecipesViewModel>

<div id="BestRecipes">
    <h3>Najlepiej oceniane przepisy</h3>
    @foreach (var item in Model)
    {
        <div class="miniaturkaNr">
                <h3 style="width: 150px; word-wrap: break-word;"> @Html.DisplayFor(modelItem => item.Name)</h3>
                <a href="@Url.Action("Details", new { id = item.Id})">
                    <img src="@Url.Content(item.ImageUrl)" alt="image" width="150" height="150" />
                </a>
</div>
    }
</div>
