@model String

<li class="ingredientRow" style="padding-bottom:15px">
    @using (Html.BeginCollectionItem("ExcludeIngredients"))
    {
    <span><strong>Nazwa :</strong></span> @Html.EditorFor(model => model, new { htmlAttributes = new {data_url = @Url.Action("AutoCompleteList") }, autocomplete = "on" })
        <a href="#" onclick=" $(this).parent().remove();">Usuń składnik</a>
    }
</li>
