@{
    ViewBag.Title = "Wyszukiwanie zaawansowane";
}

<h2>Wyszukiwanie zaawansowane</h2>

<div id="AdvancedearchArea">

    @using (Html.BeginForm("AdvancedSearch", "Recipes"))
    {
        <div> Czas przygotoywania maksymalnie: <input type="number" name="Time" value="wartość" min="1" max="1000" /> minut</div>
        <div> Bez podanego składnika: <input type="text" name="WithoutIngred" /></div>
        <div> <input type="checkbox" name="Vegetarinas" value="wartość" /> Tylko wegetariańskie</div>

        <input type="submit" value="Szukaj" />
    }
</div>
