@using PagedList.Mvc
@model PagedList.IPagedList<Jedznaplus.Models.Recipe>

<link href="~/Content/PagedList.css" rel="stylesheet"
      type="text/css" />

<h1 class="title">Tylko nie alergiczne</h1>

@Html.Partial("_CreateNewRecipeButton")

@Html.Partial("_RecipeList", Model)

@Html.PagedListPager(Model, page => Url.Action("OnlyNonAlergic", new { page, pageSize = Model.PageSize }))