@model IEnumerable<Jedznaplus.Models.Recipe>

@{
    ViewBag.Title = "Wyszukano";
}
@Html.Partial("_naglowek_cialo")
<h2>Wyniki wyszukiwania</h2>

@Html.Partial("_CreateNewRecipeButton")

@if (!Model.Any())
{
    <p> Nie znaleziono przepisów spełniających podane kryteria</p>
}

else
{
@Html.Partial("_RecipeList", Model)
}
@Html.Partial("_stopka")