@using Jedznaplus.Resources

@{
    ViewBag.Title = "Zmień avatar";
}

<h2>Zmień avatar</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (ViewBag.AvatarURL == ConstantStrings.DefaultUserAvatar)
    {
        <input type="file" name="file" accept="image/jpeg,image/png">
        <br>
        <input type="submit" name="dodajAvatar" value="Dodaj" id="DodajAvatar" class="btn btn-default" />
    <br>
    }
    else
    {
        @Html.ActionLink("Usuń bieżące zdjęcie", "DeleteAvatar")
        <br>
    }


}
@Scripts.Render("~/Scripts/Jedznaplus/EmptyAvatar.js")

