#NewestRecipes {
    width: 1100px;
    padding-left:20px;
    padding-right:20px;
    margin:2%;
    border-style: solid;
    border-width: 1px;
    border-color:#e9e9e9;
    display:inline-flex;
    overflow:hidden;
}
#NewestRecipes > h3:first-child{


    margin-top:auto;
    margin-bottom:100px;
}
#BestRecipes >  h3:first-child{

    margin-top:auto;
    margin-bottom:100px;
}

#BestRecipes {
    padding-left:20px;
    margin:2%;
    border-style: solid;
    border-width: 1px;
    border-color:#e9e9e9;
    display:inline-flex;
    overflow:hidden;
}


.search {
    width: 250px;
    padding: 10px;
    float: right;
}

.search a {
text-decoration:none;
color:#7d6357;
}
.ingEditorItemName {
    margin-left: 5px;
    margin-right: 5px;
}

.fotka {
    height: 250px;
    width: 205px;
    float: left;
    padding: 5px;
    padding-top: 65px;
}

.nazwaPrzepisu {
    height: 75px;
}

pre {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

.miniaturka h1 {
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 17pt;
}

.miniaturkaNr {
    margin:10px;
    background-color:#f2f2f2;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:10px;
    padding-top:20px;
    text-align:center;
    border-style: solid;
    border-width: 1px;
    border-color:#e9e9e9;

}

.miniaturka {
    height: 260px;
    width: 550px;
}

.przepis {
    width: 850px;
}

.info {
    height: 330px;
}

.detailInfo {
    padding-left: 20px;
    padding-right: 20px;
}

#recipeBigImg {
    float: left;
    padding: 20px;
}

.display-label {
    font-weight: bold;
}

.przepis h1 {
    word-wrap: break-word;
    overflow: hidden;
    font-size: 17pt;
    margin-left:250px;
}

.recipe_p_field {
    width: 500px;
    word-wrap: break-word;
}

.bestratedName{
    width: 80px;
    word-wrap: break-word;
}
