.VoteSystem{
display:inline-block;
background-color:#f1f1f1;
width:700px;
}

#ratingDiv {
display:inline-block;
padding:0;
}

#stars{
padding:0;
}

.td0{
display:inline-block;
width:150px;
}
.td{
display:inline-block;
width:250px;
}


.search{
height:65px;
width:250px;
padding:10px;
float:right;
background-color:#222;
border-color: #080808;
border-radius: 5px;

}


.fotka {
height:250px;
width:165px;
float:left;
padding:5px;
padding-top:65px;

}

.nazwaPrzepisu{
height:75px;
}

pre{
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}
.miniaturka img {
  
}
.miniaturka h1{
text-align:center;
 word-wrap: break-word;
overflow:hidden;
font-size:17pt;
} 
.miniaturka{
height:260px;
width:550px;
}

.przepis{
width:850px;
}

.ratingStar{
padding:0 !important;
}

.info{
height:330px;
}

.detailInfo{
padding-left:20px;
padding-right:20px;
}

.przepis img{
    float:left;
    padding:20px;
}

.display-label{
font-weight:bold;
}

.przepis h1{
 text-align:center;
 word-wrap: break-word;
overflow:hidden;
font-size:17pt;
} 


body {
    padding-top: 50px;
    padding-bottom: 20px;
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
