@model IEnumerable<Jedznaplus.Models.Comment>


<div id="CommentsList">@Html.Partial("_CommentsList", Model)</div>

@if (!User.Identity.IsAuthenticated)
{
    <text><a href="/Account/Login?ReturnUrl=@Request.Url.AbsolutePath" title="Zaloguj się">Zaloguj się </a>, aby dodwać komentarze</text>
    return;
}

@using (Ajax.BeginForm("Create", "Comments", new AjaxOptions { UpdateTargetId = "CommentsList", OnComplete = "clearContent()" }))
{
    <div style="padding:5px">

        <div class="editor-field">
            <textarea cols="70" rows="3" id="Content" name="Content"></textarea>
        </div>

        <input type="hidden" id="RecipeId" value="@ViewData["id"].ToString()" name="RecipeId" />
        <input type="hidden" id="UserName" value="@User.Identity.Name" name="UserName" />

        <br />
        <p>
            <input id="dodajKomentarz" type="submit" name="dodajKomentarz" value="Dodaj komentarz" class="btn btn-default" />
        </p>
    </div>
}


