
<div id="header-wrap">



    <!-- Logo -->
    <div id="logo">
        <a href=".."><img src="~/Resources/Images/logo.png" alt="Ingredients"></a>
    </div>
    <div class="inner">
        <div class="wide blank">
            <div class="top"></div>
            <div class="mid">

                <div class="menu">
                    <ul id="menu-category-menu-1" class="menu">
                        <li class="test">@Html.ActionLink("Strona domowa", "Index", "Home")</li>
                        <li class="test">@Html.ActionLink("Wegetariańskie", "OnlyVegetarian", "Recipes")</li>
                        <li class="test">@Html.ActionLink("Niealergiczne", "OnlyNonAlergic", "Recipes")</li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

