<div id="header">
    <div id="header-wrap">

        <div class="inner">

            <!-- Logo -->
            <div id="logo">
                <a href=".."><img src="~/Resources/Images/logo.png" alt="Ingredients"></a>

            </div>
            <div class="wide blank">
                <div class="top"></div>
                <div class="mid">

                    <div class="menu">
                        <ul id="menu-category-menu-1" class="menu">
                            <li class="test"><a href=".."><span>Home</span></a></li>
                            <li class="test">@Html.ActionLink("Wegetariańskie", "OnlyVegetarian", "Recipes")</li>
                            <li class="test">@Html.ActionLink("Alergiczne", "OnlyNonAlergic", "Recipes")</li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="inner">

        <!--=== Begin Main Column ===-->
        <div id="main-col">

            <div class="internal">

                <div class="repeat">

                    <!--=== Begin Contact Form ===-->
