   <!--=== End Contact Form ===-->
                </div>

            </div>

        </div>
<!--=== End Main Column ===-->
<div id="sidebar">

    <div id="text-2" class="widget widget_text clearfix">
        <h4 class="widget-title">Recipe Page</h4>			<div class="textwidget">This is what every recipe page looks like!  Use all 14 custom options to create your delicious recipe!</div>
    </div><div id="categories-3" class="widget widget_categories clearfix">
        <h4 class="widget-title">Recipe Categories</h4>		<ul>
            <li class="cat-item cat-item-10">
                <a href="category/appetizers/" title="View all posts filed under Appetizers">Appetizers</a>
            </li>
            <li class="cat-item cat-item-6">
                <a href="category/beverages/" title="View all posts filed under Beverages">Beverages</a>
            </li>
            <li class="cat-item cat-item-5">
                <a href="category/desserts/" title="View all posts filed under Desserts">Desserts</a>
            </li>
            <li class="cat-item cat-item-7">
                <a href="category/main-dishes/pastas/" title="View all posts filed under Pastas">Pastas</a>
            </li>
            <li class="cat-item cat-item-20">
                <a href="category/main-dishes/pizzas/" title="View all posts filed under Pizzas">Pizzas</a>
            </li>
            <li class="cat-item cat-item-4">
                <a href="category/salads/" title="View all posts filed under Salads">Salads</a>
            </li>
            <li class="cat-item cat-item-3">
                <a href="category/main-dishes/soups/" title="View all posts filed under Soups">Soups</a>
            </li>
            <li class="cat-item cat-item-1">
                <a href="category/un/" title="View all posts filed under Uncategorized">Uncategorized</a>
            </li>
        </ul>
    </div>
</div>
</div></div>