
<!--=== End Main Column ===-->
<div id="sidebar">
    <div>
        <h4>Strona z przepisami</h4><div><div style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:medium;"> Witaj na naszej stronie ze wszystkimi smacznymi przepisami. Zachęcamy do dodawania własnych propozycji. <br><strong>Twoje Ip: @Request.ServerVariables["REMOTE_ADDR"]</strong></div></div>
    </div><div>

    </div>
</div>