   <!--=== End Contact Form ===-->
                </div>

            </div>

        </div>
<!--=== End Main Column ===-->
<div id="sidebar">

    <div>
        <h4>Strona z przepisami</h4><div><div style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:medium;">Tak wygląda twoja strona ze wszystkimi smacznymi przepisami. Zachęcamy do dodawania własnych propozycji.</div></div>
    </div><div>
      
    </div>
</div>
</div></div>