@model string


@{

    var thisVote = string.Empty;

    if (Model.Length > 0)
    {
        thisVote=Html.Action("CountVotes","Recipes",new{votesString=Model}).ToHtmlString();
    }
}
<div style="display:inline-block" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    @Html.Raw(thisVote)
</div>
