@model string
@{
    var url = Request.Url.AbsolutePath;

 }
    
@if (!User.Identity.IsAuthenticated)
{
    <text><a href="/Account/Login?ReturnUrl=@Request.Url.AbsolutePath" title="Zaloguj się">Zaloguj się </a>, aby zagłosować</text>
    return;
}


@if (Request.Cookies[url + User.Identity.Name] == null)
{
    <div id="ratingDiv">

        <div class="stars"> <img src="/Resources/Images/whitestar.gif" alt="" class="ratingStar" data-value="1" /><img src="/Resources/Images/whitestar.gif" alt="" class="ratingStar" data-value="2" /><img src="/Resources/Images/whitestar.gif" alt="" class="ratingStar" data-value="3" /><img src="/Resources/Images/whitestar.gif" alt="" class="ratingStar" data-value="4" /><img src="/Resources/Images/whitestar.gif" alt="" class="ratingStar" data-value="5" /> </div>           
    </div>
    <div class="rateWord" data-url="@url" data-model="@Model" ></div>
}
else
{
    <text><span id="thx" style="color:green;">Dziękujemy za twoją ocenę</span></text>
}
