@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Blokada konta";
}

<hgroup>
    <h1 class="text-danger">Blokada konta</h1>
    <h2 class="text-danger">To konto zostało zablokowane, spróbuj później.</h2>
</hgroup>
