@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Politechnika Częstochowska<br />
    Wydział Inżynierii Mechanicznej i Informatyki<br />
    al. Armii Krajowej 21<br />
    42-201 Częstochowa<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jedznaplus@gmail.com">jedznaplus@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:jedznaplus@gmail.com">jedznaplus@gmail.com</a>
</address>