
<div id="header">
    <div id="header-wrap">

        <div class="inner">

            <!-- Logo -->
            <div id="logo">

                <a href=".."><img src="http://themes.divwrap.com/ingredients/wp-content/themes/ingredients/images/logo.png" alt="Ingredients"></a>

            </div>
            <div class="wide blank">
                <div class="top"></div>
                <div class="mid">

                    <div class="menu">
                        <ul id="menu-category-menu-1" class="menu">
                            <li class="test"><a href=".."><span>Home</span></a></li>
                            <li class="test"><a href="http://themes.divwrap.com/ingredients/category/appetizers/"><span>Appetizers</span></a></li>
                            <li class="test"><a href="http://themes.divwrap.com/ingredients/category/beverages/"><span>Beverages</span></a></li>
                            <li class="test"><a href="http://themes.divwrap.com/ingredients/category/breakfast/"><span>Breakfast</span></a></li>
                            <li class="test"><a href="http://themes.divwrap.com/ingredients/category/desserts/"><span>Desserts</span></a></li>
                            <li class="test"><a href="http://themes.divwrap.com/ingredients/category/main-dishes/"><span>Main Dishes</span></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
                </div>
                <div id="content" class="inner">

                    <!--=== Begin Main Column ===-->
                    <div id="main-col">

                        <div class="internal">

                            <div class="repeat">

                                <!--=== Begin Contact Form ===-->
                                @{
                                    ViewBag.Title = "Kontakt";
                                }
                                <h2>@ViewBag.Title</h2>
                                <h3>@ViewBag.Message</h3>
                                <address>
                                    Politechnika Częstochowska<br />
                                    Wydział Inżynierii Mechanicznej i Informatyki<br />
                                    al. Armii Krajowej 21<br />
                                    42-201 Częstochowa<br />
                                </address>
                                <address>
                                    <strong>Support:</strong>   <a href="mailto:jedznaplus@gmail.com">jedznaplus@gmail.com</a><br />
                                    <strong>Marketing:</strong> <a href="mailto:jedznaplus@gmail.com">jedznaplus@gmail.com</a>
                                </address>
                                <!--=== End Contact Form ===-->


                            </div>

                        </div>

                    </div>
                    <!--=== End Main Column ===-->

                </div>
                <!--=== End Sidebar ===-->

            </div>
