@{
    ViewBag.Title = "Strona domowa";
}
@Html.Partial("_naglowek_cialo")
        <div class="row">
            <div class="col-md-4">
                @Html.Action("NewestRecipes", "Recipes")
                @Html.Action("BestRatedRecipes", "Recipes")
            </div>
        </div>
@Html.Partial("_stopka")