@{
    ViewBag.Title = "Strona domowa";
}
<div id="header">
    <div id="header-wrap">

        <div class="inner">

            <!-- Logo -->
            <div id="logo">

                <a href=".."><img src="http://themes.divwrap.com/ingredients/wp-content/themes/ingredients/images/logo.png" alt="Ingredients"></a>

            </div>
                <div class="wide blank">
                    <div class="top"></div>
                    <div class="mid">

                        <div class="menu">
                            <ul id="menu-category-menu-1" class="menu">
                                <li class="test"><a href=".."><span>Home</span></a></li>
                                <li class="test"><a href="http://themes.divwrap.com/ingredients/category/appetizers/"><span>Appetizers</span></a></li>
                                <li class="test"><a href="http://themes.divwrap.com/ingredients/category/beverages/"><span>Beverages</span></a></li>
                                <li class="test"><a href="http://themes.divwrap.com/ingredients/category/breakfast/"><span>Breakfast</span></a></li>
                                <li class="test"><a href="http://themes.divwrap.com/ingredients/category/desserts/"><span>Desserts</span></a></li>
                                <li class="test"><a href="http://themes.divwrap.com/ingredients/category/main-dishes/"><span>Main Dishes</span></a></li>

                            </ul>
                        </div>

</div>
                    </div>
                </div>
                <div class="bot"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.Action("NewestRecipes", "Recipes")
                @Html.Action("BestRatedRecipes", "Recipes")
            </div>
        </div>
