@{
    ViewBag.Title = "Strona domowa";
}
<p class="BestNewestLabel">Najnowsze przepisy</p>
                @Html.Action("NewestRecipes", "Recipes")
<p class ="BestNewestLabel">Najlepiej ocenione przepisy</p>
                @Html.Action("BestRatedRecipes", "Recipes")
