@{

    ViewBag.Title = "Dokończenie procesu rejestracji";

}

<h1 class="title">@ViewBag.Title</h1>

<p class="text-info">

    Rejestracja została zakończona pomyślnie. Na podany podczas rejestracji adres e-mail został wysłany link aktywacyjny.<br> 
    Kliknięcie w link aktywuje konto i pozwoli Ci na korzystanie ze wszystkich funkcjonalności portalu.

</p>
