@{

    ViewBag.Title = "Dokończenie procesu rejestracji";

}

<h2>@ViewBag.Title</h2>

<p class="text-info">

    Właśnie wysłaliśmy do Ciebie maila. Sprawdź swoją skrzynkę pocztową i postepuj według wskazówek, aby zakończyć rejestracje.

</p>
