@{
    ViewBag.Title = "Błąd logowania";
}
@Html.Partial("_naglowek_cialo")
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Niepowodzenie logowania</h3>
</hgroup>
@Html.Partial("_stopka")