@{
    ViewBag.Title = "Proces zmiany zapomnianego hasła";
}

<hgroup class="title">
    <h1 class="title">@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
       Sprawdź swojego maila, żeby dokończyć proces resetowania hasła.
    </p>
</div>
	
