@{
    ViewBag.Title = "Potwierdzenie zmiany hasła";
}
<hgroup class="title">
    <h1 class="title">@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Twoje hasło zostało zmienione. @Html.ActionLink("Kliknij tutaj, aby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
